.preloaderFloatingCircles {
  position: relative;
  width: 50px;
  height: 50px;
  margin: auto;
  transform: scale(0.6);
  -o-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
}

.preloaderFloatingCircles .fCircleG {
  position: absolute;
  background-color: white;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  animation-name: f_fadeG;
  -o-animation-name: f_fadeG;
  -ms-animation-name: f_fadeG;
  -webkit-animation-name: f_fadeG;
  -moz-animation-name: f_fadeG;
  animation-duration: 0.672s;
  -o-animation-duration: 0.672s;
  -ms-animation-duration: 0.672s;
  -webkit-animation-duration: 0.672s;
  -moz-animation-duration: 0.672s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
}

.preloaderFloatingCircles #frotateG_01 {
  left: 0;
  top: 22px;
  animation-delay: 0.2495s;
  -o-animation-delay: 0.2495s;
  -ms-animation-delay: 0.2495s;
  -webkit-animation-delay: 0.2495s;
  -moz-animation-delay: 0.2495s;
}

.preloaderFloatingCircles #frotateG_02 {
  left: 6px;
  top: 6px;
  animation-delay: 0.336s;
  -o-animation-delay: 0.336s;
  -ms-animation-delay: 0.336s;
  -webkit-animation-delay: 0.336s;
  -moz-animation-delay: 0.336s;
}

.preloaderFloatingCircles #frotateG_03 {
  left: 22px;
  top: 0;
  animation-delay: 0.4225s;
  -o-animation-delay: 0.4225s;
  -ms-animation-delay: 0.4225s;
  -webkit-animation-delay: 0.4225s;
  -moz-animation-delay: 0.4225s;
}

.preloaderFloatingCircles #frotateG_04 {
  right: 6px;
  top: 6px;
  animation-delay: 0.509s;
  -o-animation-delay: 0.509s;
  -ms-animation-delay: 0.509s;
  -webkit-animation-delay: 0.509s;
  -moz-animation-delay: 0.509s;
}

.preloaderFloatingCircles #frotateG_05 {
  right: 0;
  top: 22px;
  animation-delay: 0.5955s;
  -o-animation-delay: 0.5955s;
  -ms-animation-delay: 0.5955s;
  -webkit-animation-delay: 0.5955s;
  -moz-animation-delay: 0.5955s;
}

.preloaderFloatingCircles #frotateG_06 {
  right: 6px;
  bottom: 6px;
  animation-delay: 0.672s;
  -o-animation-delay: 0.672s;
  -ms-animation-delay: 0.672s;
  -webkit-animation-delay: 0.672s;
  -moz-animation-delay: 0.672s;
}

.preloaderFloatingCircles #frotateG_07 {
  left: 22px;
  bottom: 0;
  animation-delay: 0.7585s;
  -o-animation-delay: 0.7585s;
  -ms-animation-delay: 0.7585s;
  -webkit-animation-delay: 0.7585s;
  -moz-animation-delay: 0.7585s;
}

.preloaderFloatingCircles #frotateG_08 {
  left: 6px;
  bottom: 6px;
  animation-delay: 0.845s;
  -o-animation-delay: 0.845s;
  -ms-animation-delay: 0.845s;
  -webkit-animation-delay: 0.845s;
  -moz-animation-delay: 0.845s;
}

@keyframes f_fadeG {
  0% {
    background-color: #f74061;
  }
  100% {
    background-color: white;
  }
}

@-webkit-keyframes f_fadeG {
  0% {
    background-color: #f74061;
  }
  100% {
    background-color: white;
  }
}

.LoginBtnAndSpinner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.preloaderFloatingCirclesDisappear {
  visibility: hidden;
}
/*# sourceMappingURL=LoginMain.module.css.map */