
.loginbghehe{
    background: url(./skypg.png);
    height: 100vh;
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* transform: scale(1.05); */


}

.formhi{
    -webkit-transform:scale(0.88);
-moz-transform:scale(0.88);
-ms-transform:scale(0.88);
transform:scale(0.88);
padding-bottom: 3%;

}
.text-gray-700{
    color: white;
}
.signupcol{
    color: #E3E7AF;
}
.accounta{
    font-size: 1rem;
    line-height: 1.4rem;
}