.StarCol{
    /* display: grid;
    grid-template-columns: auto auto; */
    display: flex;
    background-image: url('./testimonialbg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    /* margin-top: -100px; */
    /* height: vh; */
    /* height: 400px; */
}
.heading{
    margin-top: -30rem;
    visibility: hidden;
}

.img-fluid{
    margin-right: -1rem;
    margin-left: -1rem;
}