.borderimg{
        border: 35px solid transparent;
        border-image: url("../../img/Group 309.png") 50 round;
}

.dashBoardIITBhu{
        margin-top: .75rem;
        color: white;
        font-weight: bold;
        font-size: 1.25rem; /* 20px */
        line-height: 1.75rem; /* 28px */
}

@media screen and (max-width: 600px) {

        .dashBoardIITBhu{
                display: flex;
                justify-content: center;
        }
}