.btnCss{
    @apply cursor-pointer text-white transition duration-100 transform hover:scale-125 hover:text-white active:text-red-500;
}


.Dashboard2Heading{
    font-size: 2.5rem;
    padding-top: 25px;
    margin-left: 2rem;
}
.Dashboard2Border{
    margin-left: 2rem;
    /* background-image: url("img/Vector\ \(1\).svg"); */
    padding: 3.2px;
    display: flex;
    justify-content: center;
    width: 80%;
}
.Dashboard2KyIdCheersDiv{
    margin-left: 7rem;
    margin-top: 1.5rem;
}

.Dashboard2KyId{
    font-weight: bold;
    margin-right: 0.5rem;
    background-color: white;
    color: #F74061;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    text-align: center;
    border-radius: 0.25rem;
}

.Dashboard2Cheers{
    font-weight: bold;
    margin-top: 6rem ;
    margin-right: 0.5rem;
    background-color: white;
    color: #F74061;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    text-align: center;
    border-radius: 0.25rem;
}

.Dashboard2Columns{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}
.eventPattern{
    padding: 10px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    background-color: #F74061;
}
.Dashboard2Card{
    max-width: 25rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    overflow: hidden;
    margin: 1rem;
    border: 30px solid;
    background-color: #F74061;
    border-image-source: url("./img/Group\ 304.svg");
    border-image-outset: 7px;
    border-image-slice: 48;
}
.Dashboard2CardImg{
    width: 300px;
    height: 220px !important;
}
.eventCardExpandedBorder{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;

}
.Dashboard2Card2{
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    overflow: hidden;
    border: 35px solid;
    background-color: #F74061;
    /* border-image-source: url("img/Pattern\ \(1\).svg"); */
    border-image-slice: 48;
    height: 88vh;
    width: 40vw;
}
.Dashboard2CardOuter2{
    overflow-y: hidden;
    /* width: 200%; */
}

.eventCardInsideText{
    color: #06122E;
    font-size:1.2rem;
    margin-top: 0.75rem;
    height:16rem;
    overflow-y: auto;
    font-weight: bold;
    /* scrollbar-width: none; */
}
.eventCardInsideText::-webkit-scrollbar { 
    display: none;  
}

.Dashboard2CardImage{
    background-image: url("./img/unsplash_GRDpPpKczdY.svg");
    height: 10rem;
    /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
}

.Dashboard2CardButton{
    background-color: #06122E;
    font-weight: bold;
    font-size: 1.5rem;
    padding-top: 0.5rem; /* 8px */
    padding-bottom: 0.5rem; 
    padding-right: 80px;
    padding-left: 80px;
    color: #F74061;
    border-radius: 10px;
}
.Dashboard2CardButton:hover{
    background-color: #1e366e;
    color: white;
}

.eventCardTitle{
    font-weight: bold;
    font-size: 1.875rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    line-height: 2.25rem;   
    color: #06122E;
}


@media screen and (max-width: 1100px){
    .Dashboard2Columns{
        grid-template-columns: auto auto auto;
    }
}
@media screen and (max-width: 950px){
    .Dashboard2Columns{
        grid-template-columns: auto auto ;
    }
}

@media screen and (max-width: 900px) {
    .Dashboard2KyIdCheersDiv{
        margin-left: 1.5rem;
    }
}

@media screen and (max-width: 600px){
    .Dashboard2Columns{
        grid-template-columns: auto ;
    }
    .Dashboard2Card2{
        width: 80vw;
        height: 75vh;
    }
    .eventCardExpandedBorder{
        grid-template-columns: auto auto;
    }
    .eventCardInsideText{
        font-size:1rem;
    }
    .eventCardTitle{
        font-size: 1.5rem;
    }
    .Dashboard2CardButton{
        font-size: 1.1rem;
        padding-right: 40px;
        padding-left: 40px;
    }
}

@media screen and (max-width: 767px) {
    .Dashboard2KyIdCheersDiv{
        display: flex;
        justify-content: space-between;
        margin-top: 1.2rem;
    }
    .Dashboard2Cheers{
        font-weight: bold;
        margin-top: 0.2rem ;
        
    }
}

@media screen and (min-width: 750px) {
    .mobilenav{
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .outernav{
        display: none;
    }
}