@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400&family=Poppins&display=swap');

/* .main-application{
    position: absolute;
    height: calc(100% - 80px);
    padding-left: 160px;
} */

.form-frame {
    position: absolute;
    /* width: calc(100% - 170px); */
    height: 100%;
    margin: 0px auto;
}

.form-frame img{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120%;
}

.main-form{
    height: 80%;
    position: absolute;
    top: 0px;
    width: 90%;
    margin-top: 4%;
    margin-left: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 280px;
}

.form {
    font-family: 'Arima Madurai';
    font-style: normal;
    font-size: 32px;
    text-transform: capitalize;
    color: #F6F5E9;
    width: 72%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: 700;
}

form{
    font-size: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form h3{
    margin: 12px 0px;
    text-align: center;
}

form input[type="text"], input[type="date"],input[type="password"]{
    color: black;
    border-radius: 6px;
    background: #F6F5E9;
    border: none;
    width: 80%;
    
}

form input[type=text]:focus, input[type="date"],input[type="password"]{
    outline: none
}

form .element {
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 14px 0px;
}

form input[type=submit]{
    font-family: 'Poppins';
    font-weight: 100;
    border: none;
    cursor: pointer;
    background: #F6F5E9;
    color: #F74061;
    margin: 14px auto;
    border-radius: 6px;
    width: 160px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 1023px){
    .main-form{
        padding-top: 320px;
    }
    form {
        width: 86%;
    }
}
@media only screen and (max-width: 700px){
    .form h3{
        font-size: 26px;
    }
    form {
        font-size: 18px;
    }
    .main-application{
        padding: 0px;
    }
    .main-form{
        /* padding-top: 28%; */
    }
    form {
        width: 90%;
    }
    form .element {
        margin: 8px 0px;
    }
}
@media only screen and (max-width: 500px){
    form {
        width: 100%;
    }
}