.footer{
    display: grid;
    grid-template-columns: auto auto auto auto;
    color: white;
    margin-top: 50px;
    
}
.btnFooter {
  margin: 10px 35px;
  font-size: 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: relative;
  
  border-top: 2px solid white;
  color: black;
  // background-color: white;
  position: relative;
  
  overflow: hidden;
  cursor: pointer;
  
  text-transform: uppercase;
  // font-family: monospace;
  letter-spacing: -1px;
  
  [class^="btnFooter__text"] {
    font-size: 30px;
  }
  
  .btnFooter__text-dynamic,
  .btnFooter__text-dynamic-inner {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    position: absolute;
    padding: 10px 20px;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 2;
    
    transition: all ease 0.5s;
  }
  
  .btnFooter__text-dynamic {
    background-color: #F74061;
    color: white;
    text-decoration: none;
    overflow: hidden;
  }
  
  &:hover {
    .btnFooter__text-dynamic {
      transform: translateX(-100%);
    }
    .btnFooter__text-dynamic-inner {
      transform: translateX(100%);
    }
  }
}
.btnFooter--animation-from-top {
  &:hover {
  .btnFooter__text-dynamic {
    transform: translateY(100%);
  }
  .btnFooter__text-dynamic-inner {
    transform: translateY(-100%);
  }
}
}

@media screen and (max-width: 1100px){
  .footer{
      grid-template-columns: auto auto;
  }

}
@media screen and (max-width: 950px){
  .btnFooter{
    font-size: 25px;
    [class^="btnFooter__text"] {
      font-size: 25px;
    }
  }
}
@media screen and (max-width: 550px){
  .btnFooter{
    font-size: 20px;
    [class^="btnFooter__text"] {
      font-size: 20px;
    }
  }
  .footer{
    grid-template-columns: auto ;
}
}

