.home{
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(500px);
    /* overflow: hidden; */
    /* background-color: white; */
    /* z-index:20; */
}

video{
    position: relative;
    object-fit: cover;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(500px);
    /* opacity: 0.5; */
    /* top: 0;
    left: 0; */
}

.head{
    position: absolute;
    z-index: 20;
    backdrop-filter: blur(3px);
}

.kashiyatra{
    /* top: 0; */
    height: 200px;
    width: 500px;
    position: absolute;
    top: 40%;
    /* background-image: url('./kashiyatra.svg');
    background-size: cover; */
    backdrop-filter: blur(2px);
    transition: all 5s ease 1s;
    /* margin: auto; */
    /* z-index: 20; */
}

.left-pattern{
    position: absolute;
    top: 0;
    left: 30px;
    height: 100%;
    width: 64px;
    background-image: url("./home.svg");
}

.right-pattern{
    position: absolute;
    top: 0;
    right: 30px;
    height: 100%;
    width: 64px;
    background-image: url("./home.svg");
}

.outer-main{
    display: flex;
}

.main{
    display: flex;
    position: relative;
    /* top: 0; */
    flex-direction: column;
    /* position: absolute; */
    /* margin-left: 300px;; */
    /* margin-right: 150px;; */
    /* flex-basis: 30%; */
    width: 78%;
    flex-grow:0;
    /* flex-shrink: 0; */
    height: auto;
    padding: 10px;;
    /* width: auto; */
}

.sidepattern{
    position: sticky;
    width: 64px;
    margin-right: 30px;;
    /* height: 100%; */
    top: 0;
    flex-grow: 0;;
    flex-shrink: 0;
    /* right: 30px; */
    background-image: url('../navbar/Super\ Side\ Pattern.svg');
    z-index: 10;
}

.top{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.center{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-items: center;
    justify-content: center;
    align-content: space-between;
}

.center-top{
    display: flex;
    flex-direction: column;
    height: 300px;
    background-image: url('./back.svg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position-x: center;
    /* align-content: center; */
    align-items: center;
    justify-content: center;
    /* justify-items: center; */
    
    /* overflow: hidden; */
    /* background-position: 0%; */
    /* background-position: 0px; */

}

.text{
    /* position: absolute;
left: 30.31%;
right: 23.96%; */
/* top: 33.32%;
bottom: 64.39%; */

font-family: 'Arima Madurai';
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 91px;
text-align: center;
text-transform: capitalize;

/* BG */

color: #F6F5E9;
}

.apply{
    /* position: absolute; */
/* left: 44.22%;
right: 40%;
top: 36.31%;
bottom: 62.18%; */
height: 50px;
width: 200px;;

/* BG */

background: #F6F5E9;
border-radius: 8px;
}

.button-text{


font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 20px;
/* or 62% */

text-align: center;
text-transform: capitalize;

/* Dance */

color: #F74061;

}

.hello{
/* width: 213.86px; */
/* height: 62px; */


font-family: 'Arima Madurai';
font-style: normal;
font-weight: 900;
font-size: 38px;
line-height: 62px;
/* identical to box height */

text-transform: capitalize;

/* Dance */

color: #F74061;
z-index: 10;
}

.date{
width: 115.2px;
height: 27px;


font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
/* identical to box height */

text-transform: capitalize;

/* Text */

color: #06122E;
}

.bottombar{
    /* position: fixed;
    top: 50px; */
    /* right: 100px; */
    width: 100%;
    height: 5px;;
    /* left: 235px; */
    background-image: url('./bottombar.svg');
    z-index: 1;
}

.center-bottom{
    display: flex;
    margin-top: 30px;
    align-content: space-between;
    justify-items: center;
    /* align-items: center; */
    /* height: 300px; */
}

.left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    width: 140%;
    flex-basis: 70%;
    margin-right: 50px;;
}

.left-title{
/* Heading 1 */

font-family: 'Arima Madurai';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 59px;
/* identical to box height */

text-transform: capitalize;

/* Dance */

color: #F74061;
}

.desc{
    /* Body 1 */

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 25px;
text-transform: capitalize;

/* Text */

color: #06122E;
}

.right{
    flex-basis: 30%;
    /* width: 100%; */
    background-image: url('./why\ CA_Mesa\ de\ trabajo\ 1\ 1.svg');
    background-size: cover;
    background-position-y: center;
}