*{
    margin: 0;
    /* padding: 0; */
    text-decoration: none;
}

body{
    box-sizing: border-box;
}

.mobile-nav-dropdown{
    position: fixed;
    display: none;
    /* opacity: 0; */
    flex-direction: column;
    /* top: 0; */
    bottom: 0;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: #098770;
    z-index: 40;
    /* transition: all 2s ease 1s; */
}

.mobile-nav-dropdown img{
    width: 400px;
}

.mobile-nav-dropdown .title{
    /* height: 30px; */
    width: 250px;
    align-content: center;
    justify-content: center;
}

.mobile-nav-dropdown ul{
    display: flex;
    flex-basis: 60%;
    flex-grow: 0;
    flex-shrink: 0;
    align-content: center;
    justify-content: center;
}

.mobile-nav-dropdown ul li{
    margin: 10px auto;
    align-content: center;
    justify-content: center;
}

.mobile-nav-dropdown .logout{
    font-size: 25px;;
    margin: 250px auto;
}
.mobile-nav-dropdown ul li a{
    color: #F6F5E9;
    padding: 20px 30px;
    font-family: 'Arima Madurai';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 25px;
/* identical to box height */

text-transform: capitalize;
}
.back-icon{
    display: flex;
    /* flex-basis: 20%; */
    /* left : 40%; */
    height: 50px;
    width: 100vw;
    margin-top: 150px;
    margin-left: 20px;;
    /* flex-grow: 0; */
    flex-shrink: 0;
    /* width: 30px; */
    /* color: white; */
    z-index: 30;
    background-image: url(./icons8-arrow-50.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.nav{
    display: flex;
    flex-direction: column;
}

.mobile-nav{
    position: sticky;
    display: flex;
    justify-content: center;
    top: 0;
    display: flex;
    height: 80px;
    z-index: 20;
    background: #098770;
}

.mobile-nav button{
    position: absolute;
    left: 30px;
    /* top: 20px; */
    height: 30px;
    width: 30px;
    color: #06122E;
    background-image: url("../main/navicon.svg");
    background-size: cover;
    align-self: center;
}

.mobile-nav img{
    /* position: absolute; */
    /* left: 37%; */
    height: 80px;
    width: 120px;
    align-self: center;
    justify-self: center;
}

.cross{
    /* position: absolute; */
    left : 40%;
    height: 30px;
    width: 30px;
    color: white;
    z-index: 30;
    background-image: url(./cross.png);
    background-size: cover;
}

.outer-nav{
    position: fixed;
    top: 0;
    width: 15%;
    display: flex;
    /* float: left; */
    flex-direction: row;
    /* flex-basis: 15%; */
    height: 100%;
    z-index: 20;
    transition: all 2s ease 1s;
}

.sidebar{
    /* position: fixed; */
    background: #098770;
    /* display: flex; */
    /* width: 15%; */
    height: 100%;
    /* top: 0;
    left: 0; */
    /* overflow: visible; */
    flex-basis: 30%;
    flex-grow: 0;
    /* flex-wrap: wrap; */
    flex-shrink: 0;
    /* z-index: 1; */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.sidebar h2{
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    background: #098770;
    padding: 20px; 
    font-weight: bold;
}

.sidebar ul{
    margin-top: 50%;
}

.sidebar ul li{
    margin: 10px 0;
}

.logout{
    margin: 250px 0;
    /* position: absolute; */
    /* bottom: 8%; */
}

.sidebar ul li a, .logout{
    color: #F6F5E9;
    padding: 0 10px;
    font-family: 'Arima Madurai';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 25px;
/* identical to box height */

text-transform: capitalize;

}

.sidebar ul li a:hover{
    color: #000000;
    transition: 0.4s;
}

.title{
    display: flex;
    height: 60px;;
    width: 150px;
    /* padding: 10px;; */
    margin: 10px;
    /* background-image: url('./KY\ Header\ Logo.svg'); */
}

.sideline1{
    /* position: fixed; */
    /* top: 0; */
    width: 5px;
    height: 100%;
    left: 170px;
    background-image: url('./line1.svg');
    z-index: 1;
}

.sideline2{
    /* position: fixed; */
    /* top: 0; */
    width: 8px;
    height: 100%;
    left: 173px;
    background-image: url('./line2.svg');
    z-index: 1;
}

.hidden{

}


@media screen and (max-width: 700px) {
    .hidden{
        display: none;
    }
}


