.testimonialSectionBody{
    /* background-color: #412234; */
    padding-bottom: 100px;
    padding-top: 40px;
    background-image: url('./img/testimonialbg.jpg');
    background-position: center;
    background-repeat: no-repeat;
}
.blank{
    height: 2rem;
}
.carousal{
    z-index:50;
}
.container{
    width: 300vw;
   
    display: flex;
    flex-wrap: nowrap;
    
    position: relative;
    z-index: 30;
  }
.testimonialTitle{
    display: flex;
    align-items: center;
    padding-top: 0rem;
    padding-right: 10px;
    padding-left: 10px;
}
@font-face {
    font-family: themeFont;
    src: url("./CaviarDreams.ttf");
 }
.testimonialHeading{
    font-family: themeFont;
    font-size: 2.5rem;
    font-weight: 700;
    padding-left: 3px;
    padding-right: 3px;
}

.testimonialBorderLeft{
    padding: 10px;
    background-repeat: no-repeat;
    width: 70px;
    background-image: url("img/testimonialBorder1.svg");
}

.testimonialBorderRight{
    padding: 10px;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: end;
    background-image: url("img/testimonialBorder2.svg");
}

.testimonailsBody{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.testimonialCard {
    box-sizing: border-box;
    -webkit-box-shadow:inset 0px 0px 0px 1px #000;
    -moz-box-shadow:inset 0px 0px 0px 1px #000;
    box-shadow:inset 0px 0px 0px 1px #000;
    position: absolute;
    bottom: 0;
    background-color: #FAF3DD;
    border-radius: 5px;
    width: 300px;
    height: 300px;
    margin: 2rem 15px;
    padding: 12px 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image: url('./img/testimonailFrame.svg'); */
    border-radius: 8px;
    border: 10px solid transparent;
    border-style: outset;
    /* border-image-outset: 10; */
    /* padding: 15px; */
    /* border-image: url("../../svgs/testimonialsborder.svg") 30 round; */
    /* border-image-outset: 20px; */
    /* border-image: url('../../svgs/testimonialsborder.svg') 30 30 30 30 stretch stretch; */
    /* border-color: #f4be52; border-style: outset; border-width: 20px; */
    /* border-image-outset: 10px; */
    /* background-image: url('./img/testimonailFrame.svg'); */
    /* border-radius: 8px; */
}

.testimonialCard img{
    position: relative;
    bottom: 150px;
    width: 176px;
    height: 176px;
    border-radius: 50%;
    object-fit: cover;
    margin: 16px 0px;
}
@font-face {
    font-family: contentFont;
    src: url("./Poppins-Regular.otf");
 }
 @font-face {
    font-family: themeFont;
    src: url("./CaviarDreams.ttf");
 }
.testimonialData{
    font-family: content-Font;
    position: absolute;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.testimonailName{
    color: #06122E;
    font-family: themeFont;
    font-size: 24px;
    font-weight: 700;
}

.aboutTestimonail{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 0px;
    font-weight: 500;
    margin: 0px 12px;
}
