.throwSectionBody{
    /* background-color: #06122E; */
    padding-bottom: 0px;
    padding-top: 40px;
    background-image: url('./img/throwbackbg.svg');
    background-position: center;
    background-repeat: no-repeat;
}
.blank{
    height: 2rem;
}
.throwTitle{
    display: flex;
    align-items: center;
    padding-top: 0rem;
    padding-right: 10px;
    padding-left: 10px;
}

.throwSliderHeading{
    font-size: 2.5rem;
    padding-left: 3px;
    padding-right: 3px;
}

.throwBorder3{
    padding: 10px;
    background-repeat: no-repeat;
    width: 70px;
    background-image: url("img/slider1.svg");
}

.throwBorder4{
    padding: 10px;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: end;
    background-image: url("img/slider2.svg");
}

@media screen and (max-width: 1000px){
    .throwContent{
        grid-template-columns: auto ;
    }   
}
