.Lborder {
  background-image: url("img/FooterBorder2.svg");
  background-repeat: no-repeat;
  padding: 5px;
  display: flex;
  justify-content: center;
  width: 80%;
  margin-top: 25px;
  margin-left: 10%;
  color: #F6F5E9;
  margin-bottom: 5px;
}
.fpay{
  border: solid 0.2px;
  padding: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  border-radius: 16px;
  margin-right: 15px;
  background:transparent;
  display: flex;
  flex-direction: row;
}
.gm{
  padding-right: 5px;
  transform: scale(0.8);
}
.buttonf{
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  position: relative;
  left: 50%;
  top: 50%;
}
.mainbody {
  background-color: #2D3047;
  /* margin-top: 10%; */
}
.column0{
  position: relative;
  left: 5%;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.fvid{
  padding-top: 5px;
  padding-bottom: 10px;

}
.column1 {
  margin-right: 4%;
  padding-left: 10%;
}
.column2{
  position: relative;
  right: 2%;
}
@media screen and (min-width: 1200px){
  .column1{
    position: relative;
    left: 8%;
  }
  .column3{
    position: relative;
    right: 5%;
  }
}
@media screen and (max-width: 1200px){
  .column0{
    display: none;
  }
  .buttonf{
    position: relative;
    left: 30%;
    margin-top: 30px;
  }
}

.column2{
  margin-left: 5%;
}
.column3{
  position: relative;
  right: 8%;
}
.column {
  margin-top: 15px;
  width: 33.33%;
  padding-top: 10px;
  height: fit-content;
}
.row {
  display: flex;
}

@font-face {
  font-family: themeFont;
  src: url("../KY Main/CaviarDreams.ttf");
}

h2 {
  padding-top: 30px;
  font-family: themeFont;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  text-transform: capitalize;
  color: #F6F5E9;
}
.font {
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.home {
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
  margin-left: 18px;
  align-content: center;
  color: #F6F5E9;
  text-align: center;
  position: relative;
  right: 32%;
}
.font2 {
  margin-bottom: 10px;
}
.font3 {
  margin-bottom: 10px;
}

.image {
  display: flex;
  flex-direction: row;
}
.font1 {
  margin-bottom: 5px;
  margin-left: 10px;
}

.row1,
.row2 {
  padding: 4px;
  width: 44px;
}

.ky {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-transform: capitalize;

  color: #F6F5E9;
}

.copyright {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  display: flex;
  align-items: center;
  text-transform: capitalize;
  align-content: center;
  justify-content: center;
  color: #F6F5E9;
  padding-bottom: 5px;
}

@media screen and (max-width: 700px) {
  h2 {
    font-size: 16px;
    white-space: nowrap;
  }
  .ky {
    font-size: 12px;
    width: auto;
  }
  .Lborder {
    width: 100%;
    margin-left: 0;
    overflow: hidden;
  }
  .font1 {
    margin-right: 25px;
  }
  .row1,
  .row2 {
    width: 35px;
  }
  .home {
    font-size: 11px;
    line-height: 20px;
    position: relative;
    text-align: center;
    right: 16%;
  }
  .font1 {
    margin-right: 35%;
  }
  .font2 {
    margin-right: 35%;
  }

  .copyright {
    font-size: 12px;
    line-height: 12px;
    padding-bottom: 8px;
  }
  .column3{
 position: relative;
 right: 21%;
  }
  .column2{
    position: relative;
    right: 14%;
  }
  .column1{
    position: relative;
    right: 6%;
  }
.column0{
  display:none;

}
.fpay{
  transform: scale(0.5);
}
.buttonf
{
  position: relative;
  left: 0%;
  
}
}
